$breakpoints: (
"phone": 480px,
"tablet": 768px,
"desktop": 1200px,
);

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
max-width: 100%;
    //phone screen
    @media screen and (min-width: 480px) {
    width: 480px;
    }
    //tablet screen
    @media screen and (min-width: 768px) {
    width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
    width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.features__container {
    max-width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    //tablet screen
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.section_container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container_about_team {
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer_container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.logo_container_footer {
    padding-left: 0;
    margin-bottom: 20px;
    display: flex;
}
.container_work_card {
    text-decoration: none; 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_container {
    margin-bottom: 50px;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;

        }
        //desctop screen
        @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        }
    
}
.prtfl_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    }
}
.prtfl_container_work {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  
    @media screen and (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 12px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
.container_work {
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: var(--border-color-container);
}
.container__work-prtfl {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--border-color);  
}
.container_socials {
    display:inline-flex;
    align-items:baseline;
    justify-content: center;
}
.container_socials_network {
    margin-left: 70px;
    margin-top: 12px;
}
.team__container {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.work__container {
        //phone screen
        @media screen and (min-width: 320px) {
            display: none;
        }
        //tablet screen
        @media screen and (min-width: 768px) {
            display: none;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            padding-bottom: 94px;
            display: flex;
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
           
        }
}