.features__item {
    max-width: 100%;
    //tablet screen
    @media screen and (min-width: 480px) {
        min-width: 270px;
    }
     //tablet screen
     @media screen and (min-width: 768px) {
        width: 354px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        min-width: 270px;
    }
}

.features__list { 
    justify-content: space-between;
    gap: 30px;
    padding-left: 0;
    display: flex; 
    flex-wrap: wrap;
    min-width: 100%;
    //tablet screen
    @media screen and (min-width: 768px) {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
    }
}
.features__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-catalogue);
    margin-right: auto;
    margin-left: auto;
     //phone screen
     @media screen and (min-width: 480px) {
        margin-right: auto;
        margin-left: auto;
    }
    //tablet screen
    @media screen and (min-width: 768px) {
        margin-right: auto;
        margin-left: 0;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        margin-left: 0;
    }
    
}

.features__description {
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    margin-right: auto;
    margin-left: auto;
        //phone screen
        @media screen and (min-width: 480px) {
            margin-right: auto;
            margin-left: auto;
        }
        //tablet screen
        @media screen and (min-width: 768px) {
            margin-right: auto;
            margin-left: 0;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            margin-left: 0;
        }
}
.features__img {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.features__item--fon {
    max-width: 100%;
    min-width: 290px;
    display: flex;
    background-color: #F5F4FA;
    background-size:100%;
    gap: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  
         //phone screen
         @media screen and (min-width: 480px) {
            width: 450px;
            height: 120px;
            padding-left: 0%;
            padding-right: 0%;
            gap: 30px;
        }
     //tablet screen
     @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
        padding-left: 0%;
        padding-right: 0%;
        gap: 30px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
        padding-left: 0%;
        padding-right: 0%;
        gap: 30px;
    }
}
