.footer {
    background-color: var(--hero-background);
}
.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--button-color);
    text-decoration: none;
}
.footer_-logo-part {
    color: var(--main-title-color);
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}
.footer__adress-item {
    margin-bottom: 9px;
    display: inline-block;
}
.footer__adress_contact {
    display: inline-block;
}
.footer__group-adress {

    padding-left: 0;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    width: 231px;
    @media screen and (min-width: 480px) {
    padding-left: 0;
    min-width: 231px;
    margin-left: 109px;
    margin-right: 109px;
    text-align: center;
    }
    @media screen and (min-width: 768px) {
        padding-left: 0;
        margin-left: 61px;
        margin-right: 165px;
        text-align: center;
        width: 231px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            padding-left: 0;
            width: 231px;
            margin-left: 0px;
            margin-right: 0px;
            text-align: start;
            justify-content: flex-start;
        }
}

.footer__section {
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 231px;
    min-height: 81px;
    display: flex;

}
.footer__adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover,
    &:focus {
        color: var(--button-color);
    }
  
}
.footer__mail-link {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--footer-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    padding-left: 48px;
    padding-right: 48px;
    &:hover, 
    &:focus {
        color: var(--button-color);
    }
    @media screen and (min-width: 768px) {
        padding-left: 48px;
        padding-right: 48px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            padding-left: 0px;
            padding-right: 0px;
        }
}
.footer_header_tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--footer-color);
    text-decoration: none;
    list-style: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    padding-left: 55px;

   
    &:hover, 
    &:focus {
        color: var(--button-color);
    }
    @media screen and (min-width: 480px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media screen and (min-width: 768px) {
        padding-left: 52px;
        padding-right: 52px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            padding-left: 0px;
            padding-right: 0px;
        }
}
.footer__group-logo {
    padding-left: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: center;
    margin-right: center;
    @media screen and (min-width: 480px) {
    margin-left: 148px;
    margin-right: 148px;}
    @media screen and (min-width: 768px) {
        margin-left: 100px;
        margin-right: 204px;
        margin-bottom: 28;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0;
            margin-bottom: 20px;
            display: flex;
            align-items: start;
            justify-content: start;
        }
}
.footer__socials__network-group {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.footer__socials__network-icon {
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.footer__subscription-title {
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__subscription-btn {
    display: none;
    @media screen and (min-width: 768px) {
        display: none;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            background-color: var(--button-color);
            color: var(--main-title-color);
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: calc(30/16);
            letter-spacing: 0.06em;
            margin-right: 0;
            width: 200px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 370px;
            margin-top:-50px;
            border-radius: 4px;
            border: none;
            padding-top: 10px;
            padding-left: 28px;
            padding-bottom: 10px;
            padding-right: 28px;
        
           &:hover, 
           &:focus {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
}
.footer__subscription-btn_mobileversion {
    background-color: var(--button-color);
            color: var(--main-title-color);
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: calc(30/16);
            letter-spacing: 0.06em;
            margin-right: 0;
            width: 200px;
            height: 50px;
            border-radius: 4px;
            border: none;
            padding-top: 10px;
            padding-left: 28px;
            padding-bottom: 10px;
            padding-right: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
           &:hover, 
           &:focus {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
            @media screen and (min-width: 768px) { 
                margin-left: 125px;
                margin-right: 125px;
            }
    @media screen and (min-width: 768px) {
        margin-left: 269px;
        margin-right:  269px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
           display: none;
        }
}
.footer__subscription-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__subscription {
    display:flex;
    flex-wrap: wrap;
    margin-right: 0;
    padding-left: 0;
    padding: 0;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    @media screen and (min-width: 768px) {
        display:flex;
        flex-wrap: wrap;
        margin-right: 0;
        padding-left: 0;
        padding: 0;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 144px;
        margin-right: 144px;
        margin-top: 60px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            display:block;
            flex-wrap: nowrap;
            margin-right: 0;
            padding-left: 0;
            padding: 0;
            margin-left: 93px;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: start;
            margin-left: 93px;
            margin-right: 0px;
            margin-top: 0;
        }
}
.footer__subscription-form {
    display: flex;
    margin-right: 0;
}
.footer__subscription-mail {
    min-width: 290px;
    height: 50px;
    margin-top: 20px;
    outline: unset;
    color: var(--main-title-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    margin-left: 0;
    @media screen and (min-width: 768px) {
        width: 450px;
        height: 50px;
    }
    @media screen and (min-width: 768px) {
        width: 450px;
        height: 50px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            width: 358px;
            height: 50px;
        }
}
.footer__socials__network-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    @media screen and (min-width: 480px) {
    padding-left: 40px;
    padding-right: 40px; }
    @media screen and (min-width: 768px) {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
       text-align: start;
       margin-left: 0;
       padding-left: 0px;
       padding-right: 0px;
       justify-content: flex-start;
        }
}
.label-email {
   position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
}
.footer__group {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            display:inline-flex;
            align-items:baseline;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row; 
        }
}
.footer__socials__network {
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-top: 60px;
    @media screen and (min-width: 480px) {
        margin-left: 122px;
        margin-right: 122px;
        }
    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        margin-right: 0px;
        margin-top: 5px;
        margin-left: 0;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            margin-left: 70px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            justify-content: start;
            align-items: flex-start;
        }
}
.footer__socials__network-icon {
    fill: #FFFFFF;
}
.social_link_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.1);
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover, 
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,  
    .footer__socials__network-icon:focus {fill: #FFFFFF;
        border-radius: 50%;
        background-color:#2196F3; 
    }
    &:hover 
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus 
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,
    .footer__socials__network-icon:focus {fill: #FFFFFF;
        border-radius: 50%;
        background-color:#2196F3; 
    }
    &:hover,
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,  .footer__socials__network-icon:focus {fill: #FFFFFF;
        border-radius: 50%;
        background-color:#2196F3; 
    }
    &:hover .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus .footer__socials__network-icon {fill: #FFFFFF;
    }
}

.footer__subscription-group {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 12px;
    position: relative;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            gap: 12px;
            position: relative;
        }
}
.footer__subscription_action {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
    
        }
}
.footer__subscription-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;

}
.footer-icon {
    transition-property:  fill;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:focus, 
    &:hover {
        fill: #2196F3;
    }
}
