.footer {
    background-color: var(--hero-background);
}
.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--button-color);
    text-decoration: none;
}
.footer_-logo-part {
    color: var(--main-title-color);
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}
.footer__adress-item {
    margin-bottom: 9px;
    display: inline-block;
}
.footer__group-adress {
        min-width: 232px;
        margin-top: 0;
        margin-right: 148px;
        margin-left: 148px;
        align-items: center;
        justify-content: center;
     //tablet screen
     @media screen and (min-width: 768px) {
        min-width: 232px;
        margin-top: 0;
        margin-bottom: 0px;
        margin-right: 165px;
        margin-left: 61px;
        align-items: center;
        justify-content: center;
     }
     //desctop screen
     @media screen and (min-width: 1200px) {
        padding-left: 0;
        margin-bottom: 0px;
        margin-top: 0;
        margin-right: 0px;
        margin-left: 0;
        align-items: flex-start;
        justify-content: flex-start;
     }
}
.footer__section {
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 231px;
    min-height: 81px;
    display: flex;
}
.footer__adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover,
    &:focus {
        color: var(--button-color);
    }
   //tablet screen
   @media screen and (min-width: 768px) {
    line-height: calc(16/14);
 }
 //desctop screen
 @media screen and (min-width: 1200px) {
    line-height: calc(24/14);
 }
}
.footer__mail-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--footer-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;

    &:hover, 
    &:focus {
        color: var(--button-color);
    }
}
.footer_header_tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--footer-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;

    &:hover, 
    &:focus {
        color: var(--button-color);
    }
}
.footer__group-logo {

    margin-bottom: 28px;
    margin-left: 148px;
    margin-right: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
     //tablet screen
     @media screen and (min-width: 768px) {
        margin-bottom: 28px;
        margin-right: 165px;
        margin-left: 61px;
     }
     //desctop screen
     @media screen and (min-width: 1200px) {
        padding-left: 0;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0;
        align-items: flex-start;
        justify-content: flex-start;
     }
}
.footer__socials__network-group {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.footer__socials__network-icon {
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.footer__subscription-title {
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
     //tablet screen
     @media screen and (min-width: 768px) {
       align-items: center;
       justify-content: center;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
       align-items: flex-start;
       justify-content: flex-start;
    }
}
.footer__subscription-btn {
    background-color: var(--button-color);
    color: var(--main-title-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    margin-right: 0;
    width: 200px;
    height: 50px;
 
    align-items: center;
    justify-content: center;
    margin-left: 370px;
    margin-top:-50px;
    border-radius: 4px;
    border: none;
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    padding-right: 28px;

   &:hover, 
   &:focus {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
      //tablet screen
      @media screen and (min-width: 768px) {
       display: flex;
       flex-wrap: wrap;
       padding-top: 0px;
       padding-left: 0px;
       padding-bottom: 0px;
       padding-right: 0px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        display: flex;
       flex-wrap: nowrap;
    }
}
.footer__subscription-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__subscription {
        display:flex;
        flex-wrap: wrap;
        margin-right: 0;
        padding-left: 0;
        padding: 0;
    //tablet screen
      @media screen and (min-width: 768px) {
        display:block;
        min-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        display:block;
        flex-wrap: nowrap;
        margin-right: 0;
        padding-left: 0;
        padding: 0;
        margin-left: 93px;
        margin-right: 0;
        padding-right: 0;
    }
}


.footer__subscription-form {
    display: flex;
    margin-right: 0;
}
.footer__subscription-mail {
    width: 358px;
    height: 50px;
    margin-top: 20px;
    outline: unset;
    color: var(--main-title-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
}
.footer__socials__network-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
     //tablet screen
     @media screen and (min-width: 768px) {
        margin-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        margin-top: 12px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
.label-email {
   position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
}
.footer__group {
        display: flex;
        flex-direction: column;
      //tablet screen
      @media screen and (min-width: 768px) {
        display: block;
        flex-wrap: wrap;
        gap: 0;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        display:inline-flex;
        flex-direction: row;
        align-items:baseline;
        gap: 0;
        max-height: 251px;
        margin-right: 0;
        padding-right: 0;
        flex-wrap: nowrap;
    } 
}
.footer__group-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        //tablet screen
     @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    }
     //desctop screen
     @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}
.test {
    display: flex;
    flex-direction: column;
        //tablet screen
     @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    }
     //desctop screen
     @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}
.footer_test {
    display: block;
}
.footer__socials__network {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 122px;
        margin-right: 122px;
        align-items: center;
        justify-content: center;
     //tablet screen
     @media screen and (min-width: 768px) {
       margin-left: 0;
       margin-right: 89px;
       margin-top: auto;
       align-items: center;
       justify-content: center;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-top: 12px;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }
}
.footer__socials__network-icon {
    fill: #FFFFFF;
}
.social_link_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.1);
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:hover, 
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,  
    .footer__socials__network-icon:focus {fill: #FFFFFF;
        border-radius: 50%;
        background-color:#2196F3; 
    }
    &:hover 
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus 
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,
    .footer__socials__network-icon:focus {fill: #FFFFFF;
        border-radius: 50%;
        background-color:#2196F3; 
    }
    &:hover,
    .footer__socials__network-icon {fill: #FFFFFF;
    }
    &:focus,
    .footer__socials__network-icon {fill: #FFFFFF;
    }
}
.social_link_footer:focus,  .footer__socials__network-icon:focus {fill: #FFFFFF;
    border-radius: 50%;
    background-color:#2196F3; 
}
.social_link_footer:hover .footer__socials__network-icon {fill: #FFFFFF;
}
.social_link_footer:focus .footer__socials__network-icon {fill: #FFFFFF;
}
.footer__subscription-group {
    display: block;
      //tablet screen
      @media screen and (min-width: 768px) {
        display: block;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        position: relative;
        gap: 12px;
    }
}
.footer__subscription-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;

}
.footer-icon {
    transition-property:  fill;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    &:focus, 
    &:hover {
        fill: #2196F3;
    }
}
