.header {
    min-height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-title-color);
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    //tablet screen
    @media screen and (min-width: 768px) {
  
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        padding-left: 15px;
        position: fixed;
    }
}
.link_prtfl:visited::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-top: 28px;
    transform: translateX(-50%) scaleX(0.3);
    width: 106%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}
.header__contact {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;

    &:hover,   
    &:focus { color: var(--button-color);
   color: var(--button-color);
    }
}
.header__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;

    &:hover, 
    &:focus {
    color: var(--button-color);
    }
     //tablet screen
     @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
    }
}

.header__group {
    display: none;
    //tablet screen
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 96px;
 
    gap: 10px;
   
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    gap: 50px;
    align-items: left;
    }
}

.general__container-header {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}
.header__container {
    display: flex;
    padding-left: 0;
      //tablet screen
      @media screen and (min-width: 768px) {
        align-items: center;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}
.contact__img {
    fill: currentColor;
}
.mail__img {
    fill: currentColor;
}
.header__main {
    align-content: space-between;
}
