.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 30px;
     //tablet screen
     @media screen and (min-width: 768px) {
        margin-right: 204px;
        margin-left: 204px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        text-align: center;
        margin-right: 237px;
        margin-left: 237px;
    }
}
.hero {
    background: var(--hero-background);
    padding: 118px 0;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background: rgb(47,48,58);
      //tablet screen
      @media screen and (min-width: 768px) {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1200px;
    }
     //desctop screen
    @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--hero-background);
   
    max-width: 1600px;
    height: 602px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rgb(47,48,58);
}
@media screen and (max-width: 480px) {
background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/background/Header\ imgsmall_@1x.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/background/Header\ imgsmall_@2x.jpg);
}
}
@media screen and (min-width: 481px) {
background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/background/Header\ imgmidle@1x.jpg);
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/background/Header\ imgmidle@2x.jpg);
}
}
@media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/background/big/Img@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/background/big/Img@2x.jpg);
    }
    background-size: cover; }
}