.logo {
    font-size: 24px;
    line-height: calc(28/24);
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--button-color);
    text-decoration: none;
    //tablet screen
    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: calc(28/24);
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: calc(31/26);
    }
}
.logo__img {
    color: var(--main-color);
    text-decoration: none;
    align-items: center;
}
.header__logo {
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    //phone screen
    @media screen and (min-width: 480px) {
    margin-left: 0;
    padding-left: 0;
    margin-right: 276px;
    }
        //tablet screen
        @media screen and (min-width: 768px) {
            margin-right: 87px;
            margin-left: 0;
            display: flex;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            margin-right: 92px;
            margin-left: 0;
           
        }
    }
