.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(25, 28, 38, 0.4);
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) linear;
    overflow: scroll;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-70%); 
    width: 450px;
    min-height: 609px;
    background-color: var(--main-title-color);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-property: opacity, transform;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) linear;
    justify-content: center;
    @media screen and (min-width: 768px) {
        top: 10%;
        left: 50%;
        transform: translateX(-50%); 
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            top: 50%;
            left: 50%;
            width: 528px;
            min-height: 581px;
            transform: translateX(-50%) translateY(-50%); 
        }
}
.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
   
}
.modal-icon {
    fill: #000000;
}
.backdrop.is-hidden .modal {
    opacity: 0;
    transform:translateX(-50%) translateY(-70%);
}
.modal-form {
    margin-left: 40px;
    margin-right: 40px;
}
.modal-label {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 34px;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    margin-top: 0;
}
.modal-form-wrapper {
    position: relative;
    margin-bottom: 10px;
}
.modal-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    padding-right: 42px;
    transition-property:  outline;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    margin-bottom: 10px;
    color: #000000;
    background: #FFFFFF;
&:focus {
    outline: 1px solid var(--button-color);
}
@media screen and (min-width: 768px) {
    width: 370px;
    height: 40px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        width: 448px;
        height: 40px;
    }
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    width: 18px;
    height: 18px;
    transition-property: fill;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;

    &:focus +.modal-form-icon {
        fill:  var(--button-color); }
}
.modal-form-message{
    display: block;
    width: 370px;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 12px;
    transition-property: outline;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    
    &:focus {
    outline: 1px solid var(--button-color);   
    }
    @media screen and (min-width: 768px) {
        width: 370px;
        height: 120px;
        }
        //desctop screen
        @media screen and (min-width: 1200px) {
            width: 448px;
            height: 120px;
        }
}
.modal-form-btn {
    background-color: var(--button-color);
    color: var(--main-title-color);
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    padding: 10px 52px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 28px;
    cursor: pointer;
    font-weight: 700;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
&:hover, 
&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
    margin-left: 85px;
    margin-right: 85px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        margin-left: 122px;
        margin-right: 122px;
    }
}

.modal-form-group {
    margin-bottom: 22px;
}
/*AGREEMENT*/
.modal-form-agreement {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 7px;
    margin-bottom: 28px;
}
.modal-form-agreement-desc {
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: #757575; 
     //tablet screen
     @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: calc(14/12);
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24/14);
       
    }
}
.modal-form-agreement-link {
    color: var(--button-color);
}
.modal-form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    border: 1px solid #212121;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    transition-property:  background-size, background-color,  outline-color;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
.modal-form-checkbox:checked {
    outline-color: #2196F3;
    background-color: #2196F3;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-size: 11px 8px;
}