.team__group {
    padding-bottom: 30px;
    padding-top: 30px;
}
.customers__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--hero-catalogue);
     //tablet screen
     @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: calc(33/28);
        margin-bottom: 30px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    }

}
.team__name {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--hero-catalogue);
}
.list__work {
    gap: 30px;
}
.team__position{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}
.team__list {
    gap: 30px;
}
.social__network {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.team__section {
    background-color: #F5F4FA;
        padding-top: 60px;
        padding-bottom: 60px;
     @media screen and (min-width: 479px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    //tablet screen
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.team__item {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team__img {
  max-width: 100%;
  align-items: center;
  justify-content: center;
    @media screen and (min-width: 479px) {
        width: 450px;
        height: 460px;
    }
    //tablet screen
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }
    //desctop screen
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}
