.work {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work__thumb {
    position: relative;
    overflow: hidden;
}
.overlay__work--text {
    position: absolute;
    left: 0%;
    top: 224px;
    transform: translateY(100%);
    width: 370px;
    height: 70px;
    background-color: rgb(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    user-select: none;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}
.work__item {
    &:hover .overlay__work--text {
    transform: translateY(0);
} 
}
.work__list {
    gap: 30px;
}
.work__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--hero-catalogue);
}